body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: #fff;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
}

h1, h2 {
    color: #333;
}

label {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

select {
    font-size: 1.2em; /* Increase font size */
    padding: 5px; /* Add padding */
    margin-bottom: 10px; /* Add space below select */
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title-container h1 {
    margin: 0;
}

.title-container form input[type="submit"] {
    width: auto;
    margin-left: 20px;
    padding: 10px 20px;
}
